.main-container {
    display: flex;
    align-items: flex-start;
    padding-top: 100px;
    margin-bottom: 60px;
}

.main-container .material-section {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
}

.calendly {
    margin-left: 10px;
    margin-top: 60px;
    height: 100%;
    width: 650px;
}

@media screen and (max-width: 1280px) {
    .main-container {
        display: contents;
    }

    .calendly {
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .calendly {
        max-width: 100%;
    }
}
