doctype html
head
  script(src='./assets/plugins/xdlocalstorage/xdLocalStoragePostMessageApi.js')
  //- script(src='./assets/plugins/xdlocalstorage/xdUtils.js')
  //- script(src='./assets/plugins/xdlocalstorage/xdLocalStoragePOSTAPI.js')
script(type='text/javascript').
  //- window.onload = function() {
  //- xdLocalStorageEmbedded.init( "app.crmgrow.com" );
  //- };
