<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>CRMgrow</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimun-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="./assets/images/favicon.ico">
  <meta property="og:image:width" content="600">
  <meta property="og:image:height" content="300">
  <meta property="og:image" content="/assets/images/thumbnail.jpg">
  <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/custom.css">
</head>
<div class="section nav">
  <nav class="navbar container"><a class="navbar-brand" href="#"><img class="logo" src="./assets/images/logo.png"></a>
    <ul class="navbar-nav d-block">
      <li class="nav-item"><a class="nav-link active" href="#">Features</a></li>
      <li class="nav-item"><a class="nav-link" href="#price">Pricing</a></li>
      <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
    </ul>
    <div class="navbar-actions d-block"><a class="white bd-white btn bg-trans login" href="/login">Login</a><a class="blue bd-white btn bg-white signup" href="/signup">Try for free</a></div><a class="humburger m-block"><span class="line"></span><span class="line"></span><span class="line"></span></a>
  </nav>
</div>
<div class="mobile-menu">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link active" href="#">Features</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
    <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
  </ul>
  <div class="navbar-actions"><a class="blue bd-blue bg-white login" href="/login">Login</a><a class="white bd-white bg-blue signup" href="/signup">Try for free</a></div>
</div>
<div class="section start-up">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Streamline your eXp agent recruiting strategy.</h1>
        <p>
          Struggling to recruit agents to eXp? Build your downline revenue share team
          faster with CRMgrow. Our platform provides eXp agents with the ultimate system for recruiting
          success.
        </p><a class="btn-lg bg-blue bd-blue white" href="/signup">
          Start
          my Free 7-day Trial</a><a class="btn-lg bd-blue bg-trans blue">
          Talk
          to an Expert</a>
      </div>
      <div class="col-md-7">
        <div class="video">
          <iframe src="https://fast.wistia.net/embed/iframe/e2y3lzcw5x?videoFoam=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section feature-section" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-4 feature-card"><img src="./assets/images/binoculars.svg">
        <h3 class="title">Video and PDF<br> content tracking</h3>
        <h4 class="subtitle">
          Never be left wondering if your recruiting materials were
          seen by your prospect.
        </h4>
        <p class="desc">
          You texted a video. Was it viewed? You emailed the PDF. Was it
          read? With CRMgrow, you’ll never ask these questions again. Our powerful video and PDF tracking
          capabilities will let you know if your prospects saw the content you sent - and exactly how
          much of it they viewed or read, giving you the intel you need to follow-up with an effective
          email or phone call.
        </p>
      </div>
      <div class="col-md-4 feature-card"><img src="./assets/images/user-friendly.svg">
        <h3 class="title">Built for eXp agents,<br> not computer
                                            scientists
        </h3>
        <h4 class="subtitle">
          Not tech-savvy? No problem. If you can use email, you can
          use CRMgrow.
        </h4>
        <p class="desc">
          Why waste time navigating through complex interfaces and useless
          data you don’t need and will never use? At CRMgrow our goal is to make your user experience as
          easy and efficient as possible. That is why we’ve designed our platform with a clean and modern
          aesthetic that provides only the most important features and information you’ll need to build
          your downline revenue share team.
        </p>
      </div>
      <div class="col-md-4 feature-card"><img src="./assets/images/activity-tracking.svg">
        <h3 class="title">Real-time<br> activity tracking</h3>
        <h4 class="subtitle">
          Manage your downline recruiting efforts without ever losing
          track your prospects.
        </h4>
        <p class="desc">
          Recruiting agents is hard, but our tracking capabilities make it
          way easier. At a single glance of your CRMgrow dashboard, you’ll know exactly where you’re at
          with your recruiting efforts for any given prospect. Prospect activity tracking? Check.
          Follow-up reminders? Check. Take notes or log a call? Check. Video and PDF screen-tracking?
          Yeah, we have that too.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="section agent-section">
  <h1 class="section-title">Made by eXp agents, for eXp agents</h1>
  <div class="container">
    <div class="row agent-wrapper">
      <div class="col-md-10 col-sm-offset-1 agent-div-wrapper">
        <div class="agent"><img class="agent-avatar" src="./assets/images/agent_photo.png">
          <div class="agent-description">
            <p>
              As the saying goes “It takes one to know one”, and while I’m proud to
              say that at the time of writing this I’m within the top 3% of all eXp agents for
              personal sponsored agent recruits, I wasn’t always so successful. It was a challenge to
              recruit that many agents on my first level, so I know first-hand how hard it is to
              recruit real estate agents and build your downline. However, through a lot of trial and
              error, I learned what works and what doesn’t. I built my own proprietary tools and
              systems until I found success, and that is how this platform, CRMgrow came about.
            </p>
            <p>
              Along the way, I spoke with countless eXp agents and I learned that
              many of them simply don’t have the tools or knowledge to be successful at recruiting
              agents. They would find it too challenging not knowing where to start and become
              frustrated, often giving up on growing their revenue share team within a few months of
              joining the brokerage. I wanted to fix that. With CRMgrow I've solved these problems by
              combining all of the same tools and systems I’ve utilized into one easy-to-use
              platform, built specifically for helping eXp agents like yourself see huge success.
            </p>
            <h3>— Garrett Steve, CRMgrow founder & top eXp agent recruiter. </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section screen-feature-section">
  <div class="section-title">CRMgrow is your recruiting-made-easy agent attraction platform</div>
  <div class="section-desc">
    No more notepad, spreadsheets, wondering if they'are reviewed your
    information, or memorization needed
  </div>
  <div class="container">
    <div class="row features-panel">
      <div class="col-md-9">
        <div class="feature-screen show" id="media_tracking"><img src="./assets/images/screenshot1.png"></div>
        <div class="feature-screen" id="agent"><img src="./assets/images/screenshot2.png"></div>
        <div class="feature-screen" id="activity_tracking"><img src="./assets/images/screenshot3.png"></div>
      </div>
      <div class="col-md-3 feature-tabs">
        <div class="feature-tab active" data-target="media_tracking"><img src="./assets/images/activity-tracking.svg">
          <p class="feature-text"> Video and PDF tracking and reporting </p>
        </div>
        <div class="feature-tab" data-target="agent"><img src="./assets/images/user-friendly.svg">
          <p class="feature-text"> Built for eXp agents, not computer scientists. </p>
        </div>
        <div class="feature-tab" data-target="activity_tracking"><img src="./assets/images/binoculars.svg">
          <p class="feature-text"> Real time activity tracking. </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section video-intro-section">
  <div class="section-title">Frustrated by the lack of eXp eXplained marketing materials?</div>
  <div class="section-desc">
    We’ve got you covered. Our 7 minute agent attraction video is
    updated regularly and proven to produce results.
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="title">
          Professional eXp agent attraction video included free with
          every user account.
        </h3>
        <h4 class="subtitle">
          Not only does CRMgrow provide the tools and systems to help
          you recruit agents, but we also provide you with the marketing materials you need to hit the
          ground running.
        </h4>
        <p class="desc">
          Show your prospects everything that eXp can offer them, in the
          best light possible. This high-quality, professional-grade video excites agents to want to
          learn more and join. It’s updated every 60-90 days and already has a proven track record of
          producing results for hundreds of eXp agents. And with CRMgrow — it’s yours to use. Click on
          the video to see it for yourself.
        </p>
      </div>
      <div class="col-md-8">
        <div class="video">
          <iframe src="https://fast.wistia.net/embed/iframe/ybeh1wmkyp?videoFoam=true"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section price-section" id="price">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="price">
          <h1 class="price-title">
            eXp agents are eXploding their revenue share team
            growth with CRMgrow
          </h1>
          <div class="flex-row">
            <div class="advantages">
              <div class="desc">Try CRMgrow today, and you’ll receive:</div>
              <ul>
                <li>Our full, easy-to-use CRM</li>
                <li>Video (and PDF) screen tracking</li>
                <li>User activity tracking</li>
                <li>Email integration</li>
                <li>Calendar integration</li>
                <li>
                  eXp recruiting materials, including our FREE seven-minute,
                  professionally produced agent attraction video, proven to produce results
                </li>
                <li>Unlimited Contacts</li>
              </ul>
            </div>
            <div class="price-card">
              <div class="price-mark">Beta - Save 50%</div>
              <div class="price-value">$29<span class="month">/month</span></div>
              <h4 class="free-trial-title">Try it free for 7 days!</h4>
              <p class="free-trial-desc">
                Sign up now to get in on the ground floor
                with our <b>beta launch</b> and save <b>50% off</b>                                    our already affordable price of $59 per month. This pricing is only available for a
                                                                    limited time!
              </p><a class="btn-lg bg-blue bd-blue white" ng-reflect-router-link="/signup" href="/signup">Start my Free 7-day Trial</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section faq-section" id="faq">
  <div class="section-title">Frequently Asked Questions</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq1">Is CRMgrow only for eXp agents?</a></div>
          <div class="collapse" id="faq1" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                As of right now, our only mission is to continue to build out this platform for eXp
                agents to ensure
                that every agent has an opportunity to create wealth through revenue share. This is
                a once in a life
                time opportunity for all eXp agents.
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq2">Is CRMgrow and it’s agent attraction video/resources approved by eXp?</a></div>
          <div class="collapse" id="faq2" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">Yes this platform and all associated content are approved by eXp corporate.</div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq3">I’m not very tech-savvy, will I be able to use CRMgrow effectively?</a></div>
          <div class="collapse" id="faq3" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                This software was built with exactly this in mind, it is incredibly easy to use. Seriously anyone can
                figure out how to use this platform and don’t worry we will help you when needed.
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq4">How did other eXp agents use this system to successfully grow their downline?</a></div>
          <div class="collapse" id="faq4" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                Any system or tool on the planet requires regular effort to ensure the effectiveness of its success.
                Our family of agents block time regularly on their calendar to do their follow ups, calls, and most
                importantly send out the provided agent attraction marketing videos and presentations. Even if you
                commit to giving it a few hours per week, you WILL see results.
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq5">How often do you update the marketing collateral?</a></div>
          <div class="collapse" id="faq5" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                We strive to update the primary video(s) every 60 days, but sometimes it can be an extra 30 days or so
                because we’re waiting on eXp to provided updated agent count and or waiting for them to review the
                updated material for approval.
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq6">How can I get agents to watch the eXp agent attracting video?</a></div>
          <div class="collapse" id="faq6" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  First build a relationship with a prospective real estate agent recruit. (don’t spam or start
                  pitching eXp right away) Ask questions about their business, what are their personal and
                  professional goals, what’s missing from their business, etc… The answers to these questions will
                  help you identify pain points that you can tie eXp Realty value propositions to. Then ask a straight
                  forward question something like this;
                </p>
                <p>
                  "It’s been great getting to know you, and I’m impressed with your business.
                  Would you give me your feedback if I shared a 7-minute high level overview video of the eXp Realty
                  brokerage model?"
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq7">Can I cancel my account at any time?</a></div>
          <div class="collapse" id="faq7" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  We believe so strongly in our platform, that we do not do any kind of contacts
                  and or commitments.
                  So, you can cancel at any time.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq8">Do I own my data and is it protected?</a></div>
          <div class="collapse" id="faq8" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  Our platform is stored and manage by the best data centers in the world, Amazon Web Services and
                  has industry leading encryption to protect your data. You also own all of your data, so you can
                  extract it at any time.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq9">What makes CRMgrow different from other CRM's?</a></div>
          <div class="collapse" id="faq9" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  This is a two-part platform. First, it is the easiest and fastest to use CRM on the planet and
                  second, it has real time screen tracking of when your prospects are reviewing the videos or pdfs
                  that you send them. There is not a single CRM that offers this functionality.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq10">Do you have a setup cost?</a></div>
          <div class="collapse" id="faq10" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  We do not, we have developed this platform without cutting a single corner. Therefore, it will only
                  take you a few minutes to get signed up ad load your contacts.;
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq11">What type of support do you guys offer?</a></div>
          <div class="collapse" id="faq11" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  We have several full-time staff members to help you with any questioins that you have. but you'll
                  be pleasantly surprised how easy to use this software is.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header"><a class="card-link" data-toggle="collapse" href="#faq12">How does the video and pdf tracking capabilities work?</a></div>
          <div class="collapse" id="faq12" data-parent="#faq">
            <div class="card-body">
              <div class="card-img"><img src="./assets/images/speech-bubble.svg"></div>
              <div class="card-desc">
                <p>
                  This is the #1 feature of CRMgrow, there is recruiting videos and pdf presentations that you will
                  be able to send to your prospects from within our platform. Once the contact clicks on the content
                  link, our system will track how much of the video/pdf they watched.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section testimonial-section">
  <div class="section-title"> But don't listen to us. Our customers say it best! </div>
  <div class="section-desc">Read our customer reviews from eXp agents who swear by CRMgrow</div>
  <div class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="testimonial-card"><img class="avatar" src="./assets/images/photo1.png"><span class="name">
              Pat
              Hays</span>
            <p class="summary-info">eXp agent, San Antonio, TX</p>
            <p class="content">
              I needed some sort of crm system for recruiting and
              couldn't find anything. CRMgrow was an easier choice due to how easy it is to use and
              the video screen tracking capabilities.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card"><img class="avatar" src="./assets/images/photo2.png"><span class="name">
              Todd
              Plugge</span>
            <p class="summary-info">eXp agent, Chicago, IL</p>
            <p class="content">
              The last CRM I used was 4 times the amount of money
              and didn't even have video tracking ability. Switching to CRMgrow has completely
              transformed my agent attraction efforts.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial-card"><img class="avatar" src="./assets/images/photo3.png"><span class="name">
              Katie
              Hewes</span>
            <p class="summary-info">eXp agent, Chicago, IL</p>
            <p class="content">
              CRMgrow is the agent attraction tool we've all
              literally been waiting for. It's beyond easy to use and gives me the insight I need to
              follow up with my agent prospects on time.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section contact-section" id="contact">
  <div class="section-title"> Have questions? Fire away! </div>
  <div class="section-desc">
    Are you an eXp real estate agent considering CRMgrow, but not sure
    if it will meet your needs? Give us a shout with your questions. We’re here to help!
  </div>
  <div class="container contact-form">
    <div class="row">
      <div class="col-md-6">
        <div class="input-form">
          <input placeholder="Name*" type="text">
        </div>
        <div class="input-form">
          <input placeholder="Email*" type="email">
        </div>
        <div class="input-form">
          <textarea placeholder="Message*"></textarea>
        </div>
        <div class="input-action"><a class="contact_us btn-lg blue bd-blue white">Submit<img src="../../../assets/images/arrow right.png"></a></div>
      </div>
      <div class="col-md-6"><img src="./assets/images/contact-graphic.svg"></div>
    </div>
  </div>
</div>
<div class="section footer">
  <div class="container">
    <nav class="navbar"><a class="navbar-brand" href="#"><img class="logo" src="./assets/images/logo.png"></a>
      <ul class="navbar-nav">
        <li class="nav-item"><span class="nav-link" href="#">Sales:<span class="blue">garrett@crmgrow.com</span></span></li>
        <li class="nav-item"><span class="nav-link" href="#">Support:<span class="blue">support@crmgrow.com</span></span></li>
      </ul>
      <div class="navbar-actions"><a class="blue bd-blue bg-trans login" href="/login">Login</a><a class="white bd-blue bg-blue signup" href="/signup">
          Try for
          free</a></div>
    </nav>
  </div>
  <div class="copyright"> ©2019 CRMgrow. All Rights Reserved </div>
</div>
<script type="text/javascript" src="./assets/js/jquery.js"></script>
<script type="text/javascript" src="./assets/js/popper.min.js"></script>
<script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./assets/js/custom.js"></script>
<script id="io.birdseed.script-tag" type="text/javascript" src="https://app.birdseed.io/widget.js"></script>
<div id="birdseed-widget-container" data-token="78516726b2ddabb28c3d8a3765aab30c"></div>